{% extends 'base.html.twig' %}

{% block title %}
    Formulaire d'ajout d'allergie
{% endblock %}

{% block body %}
    <div class="container my-5">

        {% for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}

        <h1 class="text-center amatic">AJOUTER UNE ALLERGIE
        </h1>
        <br><br>

        <!-- Formulaire -->
        <section class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </section>
        <br><br>
{% endblock %}
