{% extends 'base.html.twig' %}

{% block title %}
	Formulaire de reservation
{% endblock %}

{% block body %}
	<div class="container my-5">

        {# Message flash
		{% if error %}
			<div class="alert alert-danger">
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			</div>
		{% endif %} #}

		<h1 class="text-center amatic">R E S E R V A T I O N </h1>
		<br><br>


  		<!-- Formulaire de Reservation -->
		<section class="row justify-content-center">
			<div class="col-md-4">

				{{ form_start(form) }}
				{{ form_row(form.reservationDate) }}
				{{ form_row(form.availability)}}
				<p>Places disponibles: <span id="nbMax" </span>  </p>
				<p> <span id="date"></span></p>
        		
				{{ form_row(form.submit)}}
				{{ form_end(form) }}


			</div>
		</section>
		<br><br>
	</div>
{% endblock %}


    