{% extends 'base.html.twig' %}

{% block title %}
	Liste des reservation
{% endblock %}

{% block body %}
	<div class="container my-5">

        {# Message flash
		{% if error %}
			<div class="alert alert-danger">
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			</div>
		{% endif %} #}

		<h1 class="text-center amatic">L I S T E  _  R E S E R V A T I O N S </h1>
		<br><br>

		

  		<!-- Formulaire de Reservation -->
		<section>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">DATE</th>
							<th scope="col">CRENEAU</th>
							<th scope="col">NOMBRE DE PERS</th>
							<th scope="col">UTILISATEUR</th>
							<th scope="col">ACTION</th>
						</tr>
					</thead>
					<tbody>
						{% for reservation in reservations %}
						<tr>
							<td>{{reservation.reservationDate| date('d/m/Y')}}</td>
							<td>{{reservation.slot}}</td>
							<td>{{reservation.nbPerson}}</td>
							<td>{{reservation.getUser()}}</td>
							<td><a href="{{path('app_reservations_edit', {id: reservation.id})}}">edit</a></td>
							<td><a href="{{path('app_reservations_delete', {id: reservation.id})}}">delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				

		</section>
		<br><br>
	</div>
{% endblock %}



    