{% extends 'base.html.twig' %}

{% block title %}Les plats dans la carte proposés par categorie{% endblock %}

{% block body %}
<div class="container mt-4">

<h1 class="amatic title text-info"> P L A T S </h1>
  <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. A perferendis doloremque aperiam nobis eligendi numquam ipsam consectetur et veritatis natus minus, quibusdam, in accusamus assumenda, suscipit atque adipisci. Ea, dignissimos!</small>
<br>
<br>
<br>

 {# Liste des plats par categories #}
   <article >
    
    <img src="/images/flaticon/cloche.png" alt="img-table" class="img-flaticon ">
    <h2 class="passion text-secondary">Les plats dans la carte proposés par categorie ...</h2> 
      <hr>
     <div class="align-right">
        <br>
        Retour à la <a href="{{path('app_home')}}"> page d'accueil</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {% for category in categories %}
                <p class="catName">*** {{ category.name}}</p>
                {% for dish in category.getDishes() %}  
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{path('app_dish_show', {id: dish.getId})}}">  <span class="dishcat amatic">{{dish.title}} </span> </a>
                        <br>
                        <br>
                        {{dish.description}} <br>
                        {{dish.price}} €
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class='image-carte' src="/uploads/dish/{{dish.image}}" alt="">  
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
    </article>
</div>
{% endblock %}
