{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}

{% block body %}
<div class="container mt-2">

 <h1 class="amatic text-info"> La carte proposé par le chef du restaurant  ' Q U A I _ A N T I Q U E ' </h1>
    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. A perferendis doloremque aperiam nobis eligendi numquam ipsam consectetur et veritatis natus minus, quibusdam, in accusamus assumenda, suscipit atque adipisci. Ea, dignissimos!</small>
<br>
<br>

 {# Liste des plats #}
   <article >
    
    <img src="/images/flaticon/cloche.png" alt="img-table" class="img-flaticon ">
    <h2 class="passion text-secondary">La liste des plats proposés  ...</h2> 
    <hr>
    <br>
    <div>
        {% for dish in dishes %}
            <div class="container">
                <div class="row d-flex carte-row mb-4">
                    <h3 class="amatic text-info">
                        <a href="{{path('app_dish_show', {id: dish.getId})}}">{{dish.title}}</a>
                    </h3> 
                    <i class="fa-thin fa-arrow-up"></i>
                    <small class="more-detail text-secondary "> Cliquer pour voir le détail</small>
                    <div class="col-sm-6">
                        <div>
                            <img class='image-carte' src="/uploads/dish/{{dish.image}}" alt="">  
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <small> crée le:  {{dish.createdAt|date("d/m/Y")}}</small>
                        </div>
                        <br>
                        <div>
                            <p>{{dish.description}}</p>
                        </div>
                        <div>
                            <b>{{dish.price}} €</b>
                        </div>
                    </div>
                </div>
            </div>    
        {% endfor %}    
    </article>
</div>
{% endblock %}
