{% extends 'base.html.twig' %}

{% block title %}Détail d'une carte{% endblock %}

{% block body %}
<div class="container mt-4">

 <h1 class="amatic text-info"> D E T A I L -   '{{ dish.title}}' </h1>

<br>

 {# Liste des plats #}
   <article >
    <img src="/images/flaticon/cloche.png" alt="img-table" class="img-flaticon ">
    <br>

  <div class="row">
    <div class="col-md-6 mt-2 mb-2">
        <div>
              <img class="detail-img" src="/uploads/dish/{{dish.image}}" alt=""> 
        </div>
        <div class='text-secondary'> 
          <small> Le plat à été créé le: 
            {{dish.createdAt| date('d/m/Y')}} </small>
        </div>  
    </div>
      <div class="col-md-6 mt-2">  
        <div> 
        <span class="text-info">Ce plat a comme dénomination: <br> </span>
          '{{dish.title}}'
        </div>
        <br>
        <div> 
        <span class="text-info"">Description du plat: <br></span>
          {{dish.description}}
        </div>
        <br>
        <div> 
        <span class="text-info"">Le plat est proposé au prix de: <br></span>
          {{dish.price}} €
        </div>
        <br>
        <div> 
        <span class="text-info"text-info">Le plat appartient à la catégorie:<br> </span>
        <a href="{{path('app_category')}}">{{dish.category}}</a>
        </div>
        <br>
      </div>
    </div>
    </article>
  <br>
    <a href="{{path('app_dish')}}">Voir la CARTE</a>
  <br> 
  <br> 
    <a href="{{path('app_category')}}">Voir les plats par CATEGORIE</a>
</div>
{% endblock %}
