{% extends 'base.html.twig' %}


{% block title %}
	Liste des reservations d'un utilisateur
{% endblock %}

{% block body %}
	<div
		class="container my-5">

		{# Message flash #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="text-center amatic">Liste des RESERVATIONS
		</h1>
		<br><br>


		<section>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">DATE</th>
						<th scope="col">CREANEUX</th>
						<th scope="col">NOMBRE PERS</th>
						<th scope="col">ACTION</th>
					</tr>
				</thead>

				<tbody>
					{% for reservation in reservations %}
						<tr>
							<td>{{reservation.reservationDate| date('d/m/Y')}}</td>
							<td>{{reservation.slot}}</td>
							<td>{{reservation.nbPerson}}</td>

							{# Ne plus autoriser les changements du jour J ainsi que les passés #}
							{% if date(reservation.reservationDate) < date() %}
								<td>
									Le changement n'est plus permis
								</td>
							{% else %}
								<td>
									<a href="{{path('app_reservations_edit', {id: reservation.id})}}">edit</a>&nbsp
									<a href="{{path('app_reservations_delete', {id: reservation.id})}}">delete</i>
								</td>
							</a>
						</tr>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table></section><br><br></div>{% endblock %}
